

.category_heading {
    text-transform: uppercase;
    color: #3e4152;
    letter-spacing: .15em;
    font-size: 1.8em;
    margin: 50px 0 10px 40px;
    max-height: 5em;
    font-weight: 700;
}
/* .category_items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
} */
.category-items, .items-container {
    /* width: 80%; */
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    /* justify-content:; */
}
.category_sale{
    display: inline-flex;
    margin: 0 auto;
}

.sale_item {
    margin-top: 15px;
    width: 250px;
}
.sale_cate{
    padding-left: 60px;
    padding-right: 30px;
    margin: 0 auto;
    width: 240px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    display: block;
}
.items-container {
    width: 80%;
    margin: 40px 10%;
    padding: 50px;
}
.item-container {
    width: 250px;
    margin: 10px;
}
.item-image {
    width: 100%;
}
.rating {
    font-size: 12px;
    font-weight: 700;
}
.company-name {
    margin-top: 15px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    color: #282c3f;
    margin-bottom: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.item-name {
    color: #535766;
    font-size: 14px;
    line-height: 1;
    margin-bottom: 0;
    margin-top: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 400;
    display: block;
}
.price {
    margin-top: 10px;
    font-size: 14px;
    line-height: 15px;
    color: #282c3f;
    white-space: nowrap;
}
.current-price {
    font-size: 14px;
    font-weight: 700;
    color: #282c3f;
}
.original-price {
    text-decoration: line-through;
    color: #7e818c;
    font-weight: 400;
    margin-left: 5px;
    font-size: 12px;
}
.discount {
    color: #ff905a;
    font-weight: 400;
    font-size: 12px;
    margin-left: 5px;
}
.btn-add-bag {
    margin-top: 8px;
    font-size: 18px;
    width: 100%;
    background-color: lightgreen;
    border: none;
    padding: 5px 15px;
    border-radius: 10px;
    cursor: pointer;
}
/* .bag-item-count {
    opacity: 1;
    background-color: #f16565;
    white-space: nowrap;
    text-align: center;
    line-height: 18px;
    padding: 0 6px;
    height: 18px;
    position: relative;
    border-radius: 50%;
    font-size: 12px;
    color: #fff;
    top: -10px;
    font-weight: 700;
    cursor: pointer;
} */
.action_container {
    text-decoration: none;
}
a.action_container:link {
    color:black;
}